@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
/* Original styles for larger screens */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #BC9868;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  border: #BC9868;
}

/* Styles for smaller screens or when sidebar is open */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 250px;
  }
  
  .sidebar.open {
    width: 250px;
  }

  .sidebar .logo-details #btn {
    text-align: right;
  }

  .sidebar.open .logo-details #btn {
    text-align: right;
  }

  .sidebar input {
    padding: 0 20px 0 50px;
    width: 100%;
  }

  .home-section {
    left: 250px;
    width: calc(100% - 250px);
  }
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #5A5A55;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}


.e3_2 { 
  overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:100%;
	height:100%;
	position:absolute;
	background-image:url(images/desktop_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e101_2 { 
	width:300px;
	height:300px;
	position:absolute;
	left:170px;
	top:220px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	
	background-repeat:no-repeat;
	background-size:cover;
}
.e101_6 { 
	width:300px;
	height:300px;
	position:absolute;
	left:170px;
	top:808px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	
	background-repeat:no-repeat;
	background-size:cover;
}
.e101_3 { 
	width:300px;
	height:300px;
	position:absolute;
	left:762px;
	top:220px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;

	background-repeat:no-repeat;
	background-size:cover;
}
.e101_7 { 
	width:300px;
	height:300px;
	position:absolute;
	left:762px;
	top:808px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;

	background-repeat:no-repeat;
	background-size:cover;
}
.e101_4 { 
	width:300px;
	height:300px;
	position:absolute;
	left:1354px;
	top:220px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;

	background-repeat:no-repeat;
	background-size:cover;
}
.e101_8 { 
	width:300px;
	height:300px;
	position:absolute;
	left:1354px;
	top:808px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;

	background-repeat:no-repeat;
	background-size:cover;
}
.e101_5 { 
	width:300px;
	height:300px;
	position:absolute;
	left:1946px;
	top:220px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;

	background-repeat:no-repeat;
	background-size:cover;
}
.e101_9 { 
	width:300px;
	height:300px;
	position:absolute;
	left:1946px;
	top:808px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;

	background-repeat:no-repeat;
	background-size:cover;
}
.happy{
  margin: 75px;
  border: none;
}
.happy1{
 
	
	
	position: absolute;
	top: 18%;
	bottom: 0;
	left: 18%;
	right: 0;
  	
	margin: auto;
}


