.43_2 { 
	overflow:hidden;
}
.e43_2 { 
	overflow:hidden;
	width:1960px;
	height:1080px;
	position:absolute;
	background-image:url(images/desktop___4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_2 { 
	width:1264.800048828125px;
	height:570.5px;
	position:absolute;
	left:350px;
	top:255px;
}
.e45_70 { 
	width:1251.199951171875px;
	height:142.8000030517578px;
	position:absolute;
	left:-1.1368683772161603e-13px;
	top:427.70001220703125px;
}
.e45_69 { 
	transform: rotate(89.11519346532774deg);
	width:103.61235809326172px;
	height:0px;
	position:absolute;
	left:639.2000122070312px;
	top:19.599987030029297px;
}
.45_69 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e45_65 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(230.56249290704727, 214.67220157384872, 191.55902981758118, 1) 0%,rgba(233.7500050663948, 214.0688395500183, 185.4416924715042, 1) 0.009999999747378752%,rgba(230.56249290704727, 214.67220157384872, 191.55902981758118, 1) 0.019999999494757503%,rgba(249.6875050663948, 245.87284415960312, 240.32422989606857, 0.699999988079071) 98.85154962539673%) ;
	width:1251.199951171875px;
	height:142.8000030517578px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:50px;
}
.e45_67 { 
	color:rgba(0, 0, 0, 1);
	width:486.3999938964844px;
	height:51.79999923706055px;
	position:absolute;
	left:51.20001220703125px;
	top:45.4999885559082px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e45_68 { 
	color:rgba(0, 0, 0, 1);
	width:454.3999938964844px;
	height:46.20000076293945px;
	position:absolute;
	left:724.0000000000001px;
	top:51.0999870300293px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e45_53 { 
	width:936.7999877929688px;
	height:147px;
	position:absolute;
	left:315.20001220703125px;
	top:198.10000610351562px;
}
.e45_62 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(230.56249290704727, 214.67220157384872, 191.55902981758118, 1) 0%,rgba(233.7500050663948, 214.0688395500183, 185.4416924715042, 1) 0.009999999747378752%,rgba(230.56249290704727, 214.67220157384872, 191.55902981758118, 1) 0.019999999494757503%,rgba(249.6875050663948, 245.87284415960312, 240.32422989606857, 0.699999988079071) 98.85154962539673%) ;
	width:936.7999877929688px;
	height:147px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:50px;
}
.e45_64 { 
	transform: rotate(0.16455252816747484deg);
	width:777.6027221679688px;
	height:0px;
	position:absolute;
	left:63.199981689453125px;
	top:73.49999237060547px;
}
.45_64 { 
	border:5px solid rgba(159.0000057220459, 140.00000685453415, 110.00000104308128, 1);
}
.e45_59 { 
	color:rgba(0, 0, 0, 1);
	width:842.4000244140625px;
	height:49.43077087402344px;
	position:absolute;
	left:22.399993896484375px;
	top:79.09999084472656px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e45_55 { 
	color:rgba(0, 0, 0, 1);
	width:842.4000244140625px;
	height:49.43077087402344px;
	position:absolute;
	left:22.399993896484375px;
	top:4.899993896484375px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e45_48 { 
	width:1251.199951171875px;
	height:142.8000030517578px;
	position:absolute;
	left:13.600000381469727px;
	top:0px;
}
.e43_14 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(230.56249290704727, 214.67220157384872, 191.55902981758118, 1) 0%,rgba(233.7500050663948, 214.0688395500183, 185.4416924715042, 1) 0.009999999747378752%,rgba(230.56249290704727, 214.67220157384872, 191.55902981758118, 1) 0.019999999494757503%,rgba(249.6875050663948, 245.87284415960312, 240.32422989606857, 0.699999988079071) 98.85154962539673%) ;
	width:1251.199951171875px;
	height:142.8000030517578px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:50px;
}
.e44_3 { 
	color:rgba(0, 0, 0, 1);
	width:488.79998779296875px;
	height:35.70000076293945px;
	position:absolute;
	left:15.60003662109375px;
	top:53.900001525878906px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e45_47 { 
	width:293.6000061035156px;
	height:63px;
	position:absolute;
	left:0.79998779296875px;
	top:189.6999969482422px;
}
.e44_4 { 
	background-color:rgba(159.0000057220459, 140.00000685453415, 110.00000104308128, 1);
	width:293.6000061035156px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e45_45 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:260.26776123046875px;
	height:46.514869689941406px;
	position:absolute;
	left:15.20001220703125px;
	top:8.399988174438477px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e45_49 { 
	width:293.6000061035156px;
	height:63px;
	position:absolute;
	left:-1.1368683772161603e-13px;
	top:282.1000061035156px;
}
.e45_50 { 
	background-color:rgba(159.0000057220459, 140.00000685453415, 110.00000104308128, 1);
	width:293.6000061035156px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e45_51 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:260.26776123046875px;
	height:46.514869689941406px;
	position:absolute;
	left:15.20001220703125px;
	top:8.399993896484375px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e45_46 { 
	width:1960.0001220703125px;
	height:124.72119140625px;
	position:absolute;
	left:2.0040712356567383px;
	top:-1px;
}
.e42_51 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(200.00000327825546, 151.00000619888306, 79.00000289082527, 1) 0%,rgba(226.0000017285347, 222.00000196695328, 215.0000023841858, 0) 100%) ;
	width:1960.0001220703125px;
	height:124.72119140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e42_52 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:279.4285583496094px;
	height:60.31598663330078px;
	position:absolute;
	left:821.9960327148438px;
	top:36px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e42_53 { 
	width:58.87959289550781px;
	height:58.2713737487793px;
	position:absolute;
	left:65.99589538574219px;
	top:36px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e42_54 { 
	border-radius:500px;
	width:79.83673095703125px;
	height:81.78438568115234px;
	position:absolute;
	left:1826.265625px;
	top:23.446044921875px;
	background-image:url(images/ellipse_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
